.config/.bash_history filter=git-crypt diff=git-crypt
.config/git/config filter=git-crypt diff=git-crypt
.config/rclone/* filter=git-crypt diff=git-crypt
.config/task/* filter=git-crypt diff=git-crypt
.config/yarr/* filter=git-crypt diff=git-crypt
.config/task/hooks/* filter=git-crypt diff=git-crypt
.config/task/themes/* filter=git-crypt diff=git-crypt
.config/timewarrior/* filter=git-crypt diff=git-crypt
.config/mylib/* filter=git-crypt diff=git-crypt
.config/mylib/ics.py filter=git-crypt diff=git-crypt
.config/mylib/ics.json filter=git-crypt diff=git-crypt
.config/mylib/gtoken.json filter=git-crypt diff=git-crypt
.config/mylib/credentials.json filter=git-crypt diff=git-crypt
.local/share/mytask/* filter=git-crypt diff=git-crypt
.local/share/task/* filter=git-crypt diff=git-crypt
.local/share/timewarrior/* filter=git-crypt diff=git-crypt
.local/share/timewarrior/data/* filter=git-crypt diff=git-crypt
.local/share/sounds/* filter=git-crypt diff=git-crypt
