check_for_updates_on_startup 0
use_legacy_keybinds 0

search_url_s                  https://scholar.google.com/scholar?q=
search_url_l                  http://gen.lib.rus.ec/scimag/?q=
search_url_g                  https://www.google.com/search?q=

middle_click_search_engine       s
shift_middle_click_search_engine l

zoom_inc_factor         1.2

vertical_move_amount    1.0
horizontal_move_amount  1.0

move_screen_ratio       0.5
flat_toc                0

should_use_multiple_monitors        0

should_load_tutorial_when_no_other_file 1

should_launch_new_instance    0

should_launch_new_window    0

visual_mark_next_page_fraction 0.75

visual_mark_next_page_threshold 0.25

should_draw_unrendered_pages 0

rerender_overview 1

default_dark_mode 1

sort_bookmarks_by_location 1

wheel_zoom_on_cursor 0

dark_mode_contrast          0.8

background_color            0.15686 0.16471 0.21176
dark_mode_background_color  0.15686 0.16471 0.21176

text_highlight_color        0.94510 0.98039 0.54902
visual_mark_color           0.15686 0.16471 0.21176 0.8

search_highlight_color      0.94510 0.98039 0.54902
link_highlight_color        0.38431 0.44706 0.64314
synctex_highlight_color     0.31373 0.98039 0.48235

highlight_color_a           1.00000 0.72157 0.42353
highlight_color_b           0.31373 0.98039 0.48235
highlight_color_c           0.54510 0.91373 0.99216
highlight_color_d           1.00000 0.47451 0.77647
highlight_color_e           0.74118 0.57647 0.97647
highlight_color_f           1.00000 0.33333 0.33333
highlight_color_g           0.94510 0.98039 0.54902


status_bar_font_size     16
font_size                12

custom_background_color  0.15686 0.16471 0.21176
custom_text_color        0.97255 0.97255 0.94902

ui_text_color                 0.97255 0.97255 0.94902
ui_background_color           0.15686 0.16471 0.21176
ui_selected_text_color        0.97255 0.97255 0.94902
ui_selected_background_color  0.26667 0.27843 0.35294
