move_down          <down>
move_up            <up>
move_left          <right>
move_right         <left>
move_down          j
move_up            k
move_left          l
move_right         h 

goto_beginning     gg
goto_end           ge
open_last_document gn
open_last_document gp

screen_down        <C-d>
screen_up          <C-u>
screen_down        <pagedown>
screen_up          <pageup>
prev_state         <C-o>
next_state         <C-i>

noop               f
noop               <space>
open_prev_doc      <space>f

search             /
next_item          n
previous_item      N

toggle_dark_mode   i
zoom_in            z
zoom_out           Z
rotate_clockwise   r
rotate_counterclockwise R

command            :
copy               y
quit               q
toggle_presentation_mode <A-C-p>



move_visual_mark_up   k
move_visual_mark_down j
move_visual_mark_up   <up>
move_visual_mark_down <down>

add_bookmark    b
delete_bookmark db
goto_bookmark   gb
goto_bookmark_g gB

# ---------- HIGHLIGHTS ----------
add_highlight       H
goto_highlight      gh
goto_highlight_g    gH
delete_highlight    dh
goto_next_highlight gnh
goto_prev_highlight gNh

keyboard_select v
keyboard_smart_jump F
