check_for_updates_on_startup 0
use_legacy_keybinds 0

# Urls to use when executing external_search commands
search_url_s                  https://scholar.google.com/scholar?q=
search_url_l                  http://gen.lib.rus.ec/scimag/?q=
search_url_g                  https://www.google.com/search?q=

# Which search url to choose when middle clicking or shift middle clicking on text (the values are the letters of corresponding search_url_* )
# for example if i set `middle_click_search_engine s`, then we use the url associated with `search_url_s` to handle middle click searches
middle_click_search_engine       s
shift_middle_click_search_engine l

# The factor by which we increase/decrease zoom when performing zoom_in or zoom_out
zoom_inc_factor         1.2

# How many inches we move vertically/horizontally when performing move_* commands
vertical_move_amount    1.0
horizontal_move_amount  1.0

# When performing screen_down/screen_up we usually don't move a full screen because it causes the user to lose context
# Here we specify the fraction of the screen width by which we move when performing these commands
move_screen_ratio       0.5
flat_toc                0

# If it is 1, when launching the application if we detect multiple monitors, we automatically launch the helper window in second monitor
should_use_multiple_monitors        0

# If the last opened document is empty, load the tutorial pdf instead
should_load_tutorial_when_no_other_file 1

# (deprecated, use `should_launch_new_window` instead) If it is 0, then we use the previous instance of sioyek when launching a new file.
# otherwise a new instance is launched every time we open a new file.
should_launch_new_instance    0

# If set, we open a new sioyek window when a new file is opened, otherwise we open the file in the previous window
should_launch_new_window    0

# The command to use when trying to do inverse search into a LaTeX document. Uncomment and provide your own command.
# %1 expands to the name of the file and %2 expans to the line number.
#inverse_search_command   "C:\path\to\vscode\Code.exe" -r -g %1:%2

# When moving to the next line using visual marker, this setting specifies the distance of the market to the top of the screen in fractions of screen size (center of the screen is zero, top of the screen is one)
visual_mark_next_page_fraction 0.75

# When moving to the next line using visual marker, this setting determines at which point we move the screen (center of the screen is zero, bottom of the screen is one)
visual_mark_next_page_threshold 0.25

# If set, we display a checkerboard pattern for unrendered pages (by default we display nothing)
should_draw_unrendered_pages 0

# If 0, we use the previous renders for overview window which may cause it to be blurry
# if it is 1, we rerender with the proper resolution for overview window which looks better
# but may increase power consumption
rerender_overview 1

# Use dark mode by default (deprecated, better add `toggle_dark_mode` to `startup_commands` )
default_dark_mode 1

# If set, we sort the bookmarks by their location instead of their creation time
sort_bookmarks_by_location 1

# Normally mouse wheel zooms in on the middle of the screen, but if this is set to 1, we zoom in on the cursor
wheel_zoom_on_cursor 0

# Do not enable this:
# startup_commands  toggle_custom_color

dark_mode_contrast          0.8

background_color            0.15686 0.16471 0.21176
dark_mode_background_color  0.15686 0.16471 0.21176

text_highlight_color        0.94510 0.98039 0.54902
visual_mark_color           0.15686 0.16471 0.21176 0.8

search_highlight_color      0.94510 0.98039 0.54902
link_highlight_color        0.38431 0.44706 0.64314
synctex_highlight_color     0.31373 0.98039 0.48235

highlight_color_a           1.00000 0.72157 0.42353
highlight_color_b           0.31373 0.98039 0.48235
highlight_color_c           0.54510 0.91373 0.99216
highlight_color_d           1.00000 0.47451 0.77647
highlight_color_e           0.74118 0.57647 0.97647
highlight_color_f           1.00000 0.33333 0.33333
highlight_color_g           0.94510 0.98039 0.54902



status_bar_font_size     16
font_size                12
# ui_font                FiraCode Mono

custom_background_color  0.15686 0.16471 0.21176
custom_text_color        0.97255 0.97255 0.94902

ui_text_color                 0.97255 0.97255 0.94902
ui_background_color           0.15686 0.16471 0.21176
ui_selected_text_color        0.97255 0.97255 0.94902
ui_selected_background_color  0.26667 0.27843 0.35294

