[Desktop Entry]
Name=Nemo
Name[am]=Nemo
Name[ar]=Nemo
Name[be]=Nemo
Name[bg]=Nemo
Name[ca]=Nemo
Name[ca@valencia]=Nemo
Name[cs]=Nemo
Name[cy]=Nemo
Name[da]=Nemo
Name[de]=Nemo
Name[el]=Nemo
Name[eo]=Nemo
Name[es]=Nemo
Name[et]=Nemo
Name[eu]=Nemo
Name[fi]=Nemo
Name[fr]=Nemo
Name[fr_CA]=Nemo
Name[he]=Nemo
Name[hi]=Nemo
Name[hr]=Nemo
Name[hu]=Nemo
Name[id]=Nemo
Name[is]=Nemo
Name[it]=Nemo
Name[ja]=Nemo
Name[kab]=Nemo
Name[ko]=Nemo
Name[la]=Nemo
Name[lt]=Nemo
Name[ms]=Nemo
Name[nb]=Nemo
Name[nl]=Nemo
Name[oc]=Nemo
Name[pl]=Nemo
Name[pt]=Nemo
Name[pt_BR]=Nemo
Name[ro]=Nemo
Name[ru]=Nemo
Name[sk]=Nemo
Name[sl]=Nemo
Name[sr]=Nemo
Name[sr@latin]=Nemo
Name[sv]=Nemo
Name[th]=Nemo
Name[tr]=Nemo
Name[uk]=Nemo
Name[uz]=Nemo
Name[zh_CN]=Nemo
Name[zh_HK]=Nemo
Name[zh_TW]=Nemo
Comment=Access and organize files
Comment[am]=ፋይሎች ጋር መድረሻ እና ማደራጃ
Comment[ar]=الوصول إلى الملفات وتنظيمها
Comment[be]=Доступ і кіраванне файламі
Comment[bg]=Достъп и управление на файлове
Comment[ca]=Organitzeu i accediu als fitxers
Comment[ca@valencia]=Organitzeu i accediu als fitxers
Comment[cs]=Přístup k souborům a jejich správa
Comment[cy]=Mynediad a threfnu ffeiliau
Comment[da]=Tilgå og organisér filer
Comment[de]=Dateien aufrufen und organisieren
Comment[el]=Πρόσβαση και οργάνωση αρχείων
Comment[en_GB]=Access and organise files
Comment[eo]=Atingi kaj organizi dosierojn
Comment[es]=Acceder a los archivos y organizarlos
Comment[et]=Ligipääs failidele ning failipuu korrastamine
Comment[eu]=Atzitu eta antolatu fitxategiak
Comment[fi]=Avaa ja järjestä tiedostoja
Comment[fr]=Accéder aux fichiers et les organiser
Comment[fr_CA]=Accéder aux fichiers et les organiser
Comment[he]=גישה לקבצים וארגונם
Comment[hi]=फाइल अभिगम व प्रबंधन
Comment[hr]=Pristupite i organizirajte datoteke
Comment[hu]=Fájlok elérése és rendszerezése
Comment[ia]=Acceder e organisar le files
Comment[id]=Akses dan kelola berkas
Comment[ie]=Accesse e ordina files
Comment[is]=Aðgangur og skipulag skráa
Comment[it]=Accede ai file e li organizza
Comment[ja]=ファイルの操作や整理をします
Comment[ka]=ფაილებზე წვდომა და დალაგება
Comment[kab]=Kcem udiɣ suddes ifuyla
Comment[ko]=파일 접근 및 정리
Comment[lt]=Gauti prieigą prie failų ir juos tvarkyti
Comment[mo]=Акчесаря ши организаря фишиерелор
Comment[ms]=Capai dan urus fail
Comment[nl]=Bestanden gebruiken en organiseren
Comment[oc]=Accedir als fichièrs e los organizar
Comment[pl]=Porządkowanie i dostęp do plików
Comment[pt]=Aceder e organizar ficheiros
Comment[pt_BR]=Acesse e organize arquivos
Comment[ro]=Accesează și organizează fișiere
Comment[ru]=Управление и доступ к файлам
Comment[sk]=Prístup a organizácia súborov
Comment[sl]=Dostop in razvrščanje datotek
Comment[sr]=Приступите датотекама и организујте их
Comment[sr@latin]=Pristupite datotekama i organizujte ih
Comment[sv]=Kom åt och organisera filer
Comment[th]=เข้าถึงและจัดระเบียบแฟ้ม
Comment[tr]=Dosyalara eriş ve düzenle
Comment[uk]=Доступ до файлів і  їх впорядковування
Comment[uz]=Fayllarga kirish va tartibga solish
Comment[zh_CN]=访问和组织文件
Comment[zh_HK]=存取與組織檔案
Comment[zh_TW]=存取並組織檔案
Exec=nemo ./ -t ./
Icon=system-file-manager
# Translators: these are keywords of the file manager
Keywords=folders;filesystem;explorer;
Terminal=false
Type=Application
StartupNotify=false
Categories=GNOME;GTK;Utility;Core;
MimeType=inode/directory;application/x-gnome-saved-search;
