[Desktop Entry]
Name=Neovim
GenericName=Text Editor
Comment=Edit text files in Neovim
TryExec=nvim
Exec=kitty --class neovim -e nvim %F
Terminal=false
Type=Application
Keywords=Text;editor;
Icon=nvim
Categories=Utility;TextEditor;
StartupNotify=false
MimeType=text/plain;text/x-makefile;text/x-c++hdr;text/x-c++src;text/x-chdr;text/x-csrc;text/x-java;text/x-tex;application/x-shellscript;text/x-c;
