#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Name=my_player
Comment=Launches my music player
Icon=multimedia-audio-player
Terminal=false
Exec=kitty --title "my_player" yazi /mnt/second/music
Categories=AudioVideo;Audio;Player;
MimeType=audio/opus;
