#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Name=player_my
Comment=Launches my music player
Icon=multimedia-audio-player
Terminal=false
Exec=player_my
Categories=AudioVideo;Audio;Player;
MimeType=audio/opus;
