#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Name=terminal
Comment=Launches the terminal with tmux
Icon=utilities-terminal
Terminal=false
Exec=terminal_with_tmux
Categories=ConsoleOnly;System;FileTools;FileManager
MimeType=inode/directory;
