#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Name=yazi
Comment=Launches the yazi file manager
Icon=utilities-terminal
Terminal=true
Exec=yazi_cd_desktop
Categories=ConsoleOnly;System;FileTools;FileManager
MimeType=inode/directory;
