#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Name=yazi
Comment=Launches the yazi file manager
Icon=utilities-terminal
Terminal=false
Exec=kitty --hold yazi
Categories=ConsoleOnly;System;FileTools;FileManager
MimeType=inode/directory;
