name: "Nix Build and Test"

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  flake-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: DeterminateSystems/nix-installer-action@v11
      - uses: DeterminateSystems/magic-nix-cache-action@v7
      - name: Run Flake Check
        run: nix flake check --all-systems

  lint-and-format:
    runs-on: ubuntu-latest
    needs: [flake-check]
    steps:
      - uses: actions/checkout@v4
      - uses: DeterminateSystems/nix-installer-action@v11
      - uses: DeterminateSystems/magic-nix-cache-action@v7

      - name: Run the master check script
        run: bash .local/bin/lint-and-format-check.sh

  build-systems:
    needs: [lint-and-format]
    strategy:
      fail-fast: false
      matrix:
        include:
          # - host: laptop
            # runner: ubuntu-latest
          - host: vm_oracle_x86
            runner: ubuntu-latest
          - host: vm_qemu_x86
            runner: ubuntu-latest
          - host: s01
            runner: ubuntu-latest
          # - host: s02
          #   runner: ubuntu-latest
          - host: vm_oracle_aarch64
            runner: ubuntu-22.04-arm
          # - host: vm_qemu_aarch64
            # runner: ubuntu-22.04-arm

    runs-on: ${{ matrix.runner }}

    steps:
      - uses: actions/checkout@v4
      - uses: DeterminateSystems/nix-installer-action@v11
      - name: Enable Magic Nix Cache
        uses: DeterminateSystems/magic-nix-cache-action@v7
      - name: Build system for ${{ matrix.host }}
        run: nix build .#nixosConfigurations.${{ matrix.host }}.config.system.build.toplevel
