name: "Nix Build and Test"

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  flake-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: DeterminateSystems/nix-installer-action@v11
      - name: Run Flake Check
        run: nix flake check --all-systems

  integration-tests:
    needs: [flake-check]
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        test: [test-shared-server, test-ssh-acl]
    steps:
      - uses: actions/checkout@v4
      - uses: DeterminateSystems/nix-installer-action@v11
      - name: Run Integration Test ${{ matrix.test }}
        run: nix run .#${{ matrix.test }}

  build-systems:
    needs: [flake-check]
    strategy:
      fail-fast: false
      matrix:
        include:
          # - name: laptop
          #   target: nixosConfigurations.laptop.config.system.build.toplevel
          #   runner: ubuntu-latest
          - name: vm_oracle_x86
            target: nixosConfigurations.vm_oracle_x86.config.system.build.toplevel
            runner: ubuntu-latest
          - name: vm_qemu_x86
            target: nixosConfigurations.vm_qemu_x86.config.system.build.toplevel
            runner: ubuntu-latest
          - name: s01
            target: nixosConfigurations.s01.config.system.build.toplevel
            runner: ubuntu-latest
          # - name: s02
          #   target: nixosConfigurations.s02.config.system.build.toplevel
          #   runner: ubuntu-latest
          - name: vm_oracle_aarch64
            target: nixosConfigurations.vm_oracle_aarch64.config.system.build.toplevel
            runner: ubuntu-22.04-arm
          # - name: vm_qemu_aarch64
          #   target: nixosConfigurations.vm_qemu_aarch64.config.system.build.toplevel
          #   runner: ubuntu-22.04-arm
          - name: kexec
            target: kexec
            runner: ubuntu-22.04-arm

    runs-on: ${{ matrix.runner }}

    steps:
      - uses: actions/checkout@v4
      - name: Free Disk Space (Ubuntu)
        uses: BRAINSia/free-disk-space@v2
        with:
          tool-cache: false
          mandb:   true
          android: true
          dotnet: true
          haskell: true
          large-packages: true
          docker-images: true
          swap-storage: true
      - uses: DeterminateSystems/nix-installer-action@v11
      - name: Build ${{ matrix.name }}
        run: nix build .#${{ matrix.target }}
